<% if !flash[:notice].blank? %>
    <div class="notice">
        <%= flash[:notice] %>
    </div>
<% end %>

<div class="pages index">
    <h2>Pages</h2>

    <%= link_to("Add New Page", new_page_path, :class => 'action new') %>

    <table class="listing" summary="Page List">
    <tr class="header">
        <th>#</th>
        <th>Subject ID</th>
        <th>Page</th>
        <th>Permalink</th>
        <th>Visible</th>
        <th>Sections</th>
        <th>Actions</th>
    </tr>
   <% @pages.each do |page| %>
   <tr>
    <td><%= page.position %></td>
    <td><%= page.subject_id %></td>
    <td><%= page.name %></td>
    <td class="center"><%= subject.visible ? 'Yes' : 'No' %></td>
    <td class="center"><%= subject.pages.size %></td>
    <td class="actions">
        <%= link_to("Show", subject_path(subject), :class => 'action show') %>
        <%= link_to("Edit", edit_subject_path(subject), :class => 'action edit')%>
        <%= link_to("Delete", delete_subject_path(subject), :class => 'action delete')%>
        </td>
        </tr>
        <% end %> 
    </table>
    </div>